<% @manifests_w_category.group_by(&:category).each.with_index do |(category, manifests), index| %>
  <div class="mt-<%= index == 0 ? 0 : 3 %> mb-4 mx-1 px-3 py-1 fs-5 bg-gradient border-bottom"
       style="background:<%= @conf['category_color'] %>; color:<%= @conf['category_text_color'] %>;">
    <%= category %>
  </div>
  <div class="row row-cols-3 row-cols-sm-4 row-cols-md-5 row-cols-lg-6 g-3 px-3">
    <% manifests.each do |m| %>
      <%= output_thumbnail(m['dirname'], m['name'], m['icon']) %>
    <% end %>
  </div>
<% end %>

<% if @manifests_wo_category.any? %>
  <div class="mt-<%= @manifests_w_category.empty? ? 0 : 3 %> mb-4 mx-1 px-3 py-1 fs-5 bg-gradient border-bottom"
       style="background:<%= @conf['category_color'] %>; color:<%= @conf['category_text_color'] %>;">
    Application
  </div>
  <div class="row row-cols-3 row-cols-sm-4 row-cols-md-5 row-cols-lg-6 g-3 px-3">
    <% @manifests_wo_category.each do |m| %>
      <%= output_thumbnail(m['dirname'], m['name'], m['icon']) %>
    <% end %>
  </div>
<% end %>
